# Игнорируем Rider/JetBrains служебные файлы
.idea/
*.sln.iml

# Игнорируем временные файлы .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.DotSettings*
*.vscode/

# Игнорируем кеши, логи и временные файлы
*.log
*.tmp
*.cache
*.vs/

# Игнорируем зависимости NuGet
packages/
project.lock.json
global.json
.nuget/

# Игнорируем файлы Rider
.idea/
.idea_modules/

# Игнорируем файлы Docker
.dockerignore
docker-compose.override.yml

# Игнорируем файлы для отладки и публикации
publish/
*.publishsettings
*.pfx

README.md